.file-dropbox-container {
  width: 425px;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(145deg, #8B95C9, #173753); 
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(18, 18, 18, 0.4);
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.file-dropbox-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(18, 18, 18, 0.5);
}

.file-dropbox-label {
  background-color: #F56960; 
  color: #FFFFFF;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;  
        
}

.file-dropbox-label:hover {
  background-color: #173753; 
}

.file-dropbox-input {
  display: none;
}

.file-dropbox-hint {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #FFFFFFCC; 
  text-align: center;
}